:root {
  --bg-color: #242424;
  --color: rgba(255, 255, 255, 0.87);
  --primary: #646cff;
  --primary-light: #535bf2;
  --input-background: #1a1a1a;
  --paper: #333333;
  --bg-code: #2c2c54;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 24px 8px;
}

.form {
  align-items: flex-start;
}

.form input[type="submit"] {
  align-self: flex-end;
  width: 10rem;
  height: 2rem;
}

.form > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 2rem;
  width: 100%;
}

.form > label > input[type="text"] {
  height: 90%;
  width: 70%;
}
